/*********************************************************************
    FORMATAÇÃO BASE PARA CARDS
*********************************************************************/
.cd-grid-container{
    position: relative;
    display: block;
    padding: 10px;
    box-sizing: border-box;
}

.cd-grid{
    position: relative;
    grid-row-gap: 2px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}   
    .cd-grid-20{
        display: grid;
        grid-template-rows: 20px auto;
    }
    .cd-grid-30{
        display: grid;
        grid-template-rows: 30px auto;
    }
    .cd-grid-40{
        display: grid;
        grid-template-rows: 40px auto;
    }

    

    .cd-base{
        position: relative;
        display: block;
        overflow: hidden;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        background-color: #ffffff;
        border-radius: 10px;
        
        
    }   
    .cd-grid-title{

        display: block;
        position: relative;
        padding: 0 10px;
        box-sizing: border-box;
        
    }
    .cd-grid-title span{
        display: block;
        position: relative;
        text-align: left;
        font-size: 18px;
        font-weight: 600;
        color: #1a1a1a;
        height: 100%;
       
    }
    .cd-grid-title span > svg{
        margin-right: 8px;
    }
    .cd-grid-content{
        display: block;
        position: relative;
        padding: 10px;
        box-sizing: border-box;
    }

    

    .cd-shw-0{
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    }
    .cd-shw-1{
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }
    .cd-shw-2{
        box-shadow: 0 0 2px 1px #cccccc;
    }

    .cd-center{
        text-align: center;
    }
    .cd-left{
        text-align: left;
    }
    .cd-right{
        text-align: right;
    }

    .cd-lista{
        position: relative;
        display: block;
        height: 100%;
        widows: 100%;
        box-sizing: border-box;
        overflow-y: auto;
    }
    .cd-lista-item{
        position: relative;
        display: block;
        height: 60px;
        width: 100%;
        padding: 5px;
        border-bottom: 1px solid #cccccc;
        box-sizing: border-box;
        
    }

    .cd-lista-item > span{
        position: relative;
        display: inline-block;
        height: 60px;
        vertical-align: top;
        font-size: 12px;
        box-sizing: border-box;
    }

/*
.cd-grid-20{
    position: relative;
    display: grid;
    grid-template-rows: 20px auto;
    grid-row-gap: 2px;
    overflow: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background-color: #ffffff;
    border-radius: 10px;
}
.cd-grid-30{
    position: relative;
    display: grid;
    grid-template-rows: 30px auto;
    grid-row-gap: 2px;
    overflow: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background-color: #ffffff;
    border-radius: 10px;
}
.cd-padding-10{
    padding: 10px;
}

*/