
.mask{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    left: 0;
    background-color: #4d4d4d;
    z-index: 10; 
    opacity: 0;
    animation-duration: 1s;
    animation-name: fadeInMask;
    animation-fill-mode: forwards;
}
.mask-fechando{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    left: 0;
    background-color: #4d4d4d;
    z-index: 10; 
    opacity: 0.7;
    animation-duration: 1s;
    animation-name: fadeOutMask;
    animation-fill-mode: forwards;
}

.formulario-detalhes{
    display: grid;
    grid-template-columns: 50px calc(100% - 50px);
    position: absolute;
    height: 100vh;
    width: 60vw;
    top:0;
    left: 100vw;

    background-color: #4d4d4d;
    z-index: 15;
    animation-duration: 1s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}

.formulario-detalhes-fechando{
    display: grid;
    grid-template-columns: 50px calc(100% - 50px);
    position: absolute;
    height: 100vh;
    width: 60vw;
    top:0;
    left: 100vw;

    background-color: #4d4d4d;
    z-index: 15;
    animation-duration: 1s;
    animation-name: slideout;
    animation-fill-mode: forwards;
}

.formulario-menu{
    display: block;
    position: relative;
    background-color: #1a1a1a;
    padding-top:50px;
}

.formulario-menu-item{
    display: block;
    position: relative;
    height: 50px;
    line-height: 50px;
    width: 50px;
    text-align: center;
    color: #00e7fc;
    cursor: pointer;
}
.menu-item-sel{
    background-color: #4d4d4d;
    color: #00e7fc;
}
.formulario-menu-item:hover{
    background-color: #333333;
    color: #00e7fc;
}
.ico-menu{
    transition: transform 0.6s ease;
}
.formulario-menu-item:hover .ico-menu{
    transform: scale(1.2)
    
}
.text-menu{
    display: block;
    position: absolute;
    height: 50px;
    line-height: 50px;
    width: auto;
    top:0;
    left: 30px;
    text-align: left;
    color: #00e7fc;
    cursor: pointer;
    font-weight: 700;
    opacity: 0;
    transition: 0.3s;
    z-index: 20;
}
.formulario-menu-item:hover .text-menu{
    
    transform: translateX(16px);
    opacity: 1;
}


.fomulario-conteudo{
    display: block;
    position: relative;
    height: 100%;
    width:100%;
    box-sizing: border-box;
    padding: 0 20px;
}

.formulario-conteudo-titulo{
    display: block;
    position: relative;
    height: 50px;
    line-height: 50px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

    .formulario-conteudo-titulo > span{

        text-align: left;
        color: #f1f1f1;
        font-size: 28px;
        font-weight: 700;
    }

.formulario-conteudo-item-texto{
    display: block;
    position: relative;
    min-height: 34px;
    height: auto;
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}    
    .formulario-conteudo-item-texto > label{
        text-align: left;
        color: #00e7fc;
        font-size: 11px;
        
    }

    .formulario-conteudo-item-texto span{
        display: block;
        position: relative;
        height: 18px;
        line-height: 18px;
        width: 100%;
        text-align: left;
        color: #f1f1f1;
        font-size: 14px;
        font-weight: 700;
        margin-top: 3px;
        padding-left: 22px;
        box-sizing: border-box;
    }

.formulario-inputs{
    position: relative;
    display: block;
    /*
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 200px));
    grid-gap: 10px;
    */
    padding: 10px 0 16px 0;
    box-sizing: border-box;
}
    .input-container{
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 5px;
        color: #f1f1f1;
        min-height: 50px;
        max-height: 100%;
        box-sizing: border-box;
    }
    .input-container > label{
        position: relative;
        display: block;
        font-size: 11px;
        height: 20px;
        line-height: 20px;
        width: auto;
        padding-left: 3px;
        box-sizing: border-box;
    }
    .input-container > .input-button{
        position: absolute;
        display: block;
        bottom: 5px;
        
        height: 40px;
        line-height: 40px;
        width:auto;
        padding: 0 10px;
        text-align: center;
        background-color: #00e7fc;
        color:#1a1a1a;
        font-size: 18px;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
        box-sizing: border-box;

    }
        .right{
            right: 5px;
        }
        .left{
            left: 5px;
        }
    .input-container > .input-button:hover{
        background-color: #00bbcc;
    }

    .input-container > .input-buttons-list{
        position: relative;
        display: block;
        
        padding: 10px 5px;
        border-radius: 5px;
        cursor: text;
        box-sizing: border-box;
    }
    .input-container > .input-buttons-list > .opc-button{
        position: relative;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        width:auto;
        padding: 0 10px;
        text-align: center;
        background-color: transparent;
        color:#f1f1f1;
        border:1px solid #f1f1f1;
        margin: 0 10px 10px 0;
        font-size: 16px;
        font-weight: 700;
        border-radius: 50px;
        cursor: pointer;
        box-sizing: border-box;
    }
    .input-container > .input-buttons-list > .opc-button:hover{
        background-color: #1a1a1a;
        color: #ffffff;
        border:1px solid #ffffff;
    }
    .input-container > .input-buttons-list > .opc-button:active{
        background-color: #f1f1f1;
        color: #1a1a1a;
        border:1px solid #ffffff;
    }
    .input-container > .input-buttons-list > .opc-sel{
        background-color: #f1f1f1;
        color: #1a1a1a;
        border:1px solid #ffffff;
    }
    .input-container > .input-buttons-list > .opc-sel:hover{
        background-color: #f1f1f1;
        color: #1a1a1a;
        border:1px solid #ffffff;
    }
    
    .input-border{
        position: relative;
        display: block;
        border: 1px solid #f1f1f1;
        background-color:  #666666;
        padding: 0 5px;
        border-radius: 5px;
        cursor: text;
        box-sizing: border-box;
    }
    .input-border > input {
        height: 100%;
        width: 100%;
        border: 0;
        outline: none;
        color: #f1f1f1;
        background-color: #666666;
        box-sizing: border-box;
    }

    .input-border > textarea {
        height: 100%;
        width: 100%;
        border: 0;
        outline: none;
        color: #f1f1f1;
        background-color: #666666;
        box-sizing: border-box;
    }


@keyframes fadeInMask {
    from {opacity: 0;}
    to {opacity: 0.7;}
}
@keyframes fadeOutMask {
    from {opacity: 0.7;}
    to {opacity: 0;}
}
@keyframes slidein {
    from {left: 100vw;}
    to {left: 40vw;}
}
@keyframes slideout {
    from {left: 40vw;}
    to {left: 100vw;}
}


@media screen and (max-width: 400px){

    .formulario-detalhes{
        height: 100vh;
        width: 100vw;
        top:0;
        left: 0;
    }
    .formulario-detalhes-fechando{
        height: 100vh;
        width: 100vw;
        top:0;
        left: 0;
    }
    .formulario-conteudo-titulo{line-height: 18px; padding-top: 10px;}
    .formulario-conteudo-titulo > span{font-size: 18px;}
    .formulario-conteudo-item-texto{min-height: 25px;}
    .formulario-conteudo-item-texto > label{font-size: 11px;}
    .formulario-conteudo-item-texto span{font-size: 12px; height: 12px;line-height: 12px;}
    @keyframes slidein {
        from {left: 100vw;}
        to {left: 0;}
    }
    @keyframes slideout {
        from {left: 0;}
        to {left: 100vw;}
    }


}
