.lista-itens{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-template-rows: repeat(auto-fill, 98px);
    grid-gap: 8px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    
}
.item{
    display: grid;
    grid-template-columns: 44px auto;
    grid-template-rows: 70px auto;
    grid-column-gap: 2px;
    background-color: #ffffff;
    height: 98px;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
}
.it-vibrante{
    border:1px solid #ff00f9;
}
.item:hover{
    border:1px solid #34495e;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.item-image{
    height: 60px;
    width: 44px;
    text-align: center;
}
    .thunb-none{
        height: 40px;
        line-height: 40px;
        width: 40px;
        background-color: #f2f2f2;
        border-radius: 50px;
        color: #8c8c8c;
    }

.item-info{
    font-size: 12px;
    
}
.item-info .info-linha1 {
    display: block;
    width: 92%;
    font-weight: 700;
    color: #34495e;;
    margin-top: 3px;
    font-size: 14px;
    padding-left: 2px;
}

.item-info .info-linha2{
    display: block;
    width: 100%;
    font-size: 10px;
    font-weight: 600;
    color: #3f5973;
    margin-top: 1px;
}

.item-bar{
    grid-column-start: 1;
    grid-column-end: -1;
    
    text-align: right;
    font-size: 11px;
    height:16px;
    line-height: 16px;
    border-top: 1px dashed #f2f2f2;
    padding-top: 3px;
}

.item-bar span{
    position: relative;
    display: inline-block;
    width: auto;
    height:16px;
    line-height: 16px;
    margin-left: 5px;
    color: #8c8c8c;
}

.item-bar span.item-bar-contratos{
   
    color: #34495e;
    font-weight: 700;
}