.pagina{
    display: grid;
    grid-template-rows: 20px calc(100vh - 42px);
    grid-row-gap: 1px;
    color: #1a1a1a;
}

.arvore-acesso{
    
    font-size: 12px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 10px;
    box-sizing: border-box;
}

.arvore-acesso a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin:0 5px 0 0;
    color: #6e6e6e;
    font-weight: 800;

}
    .arvore-acesso a:hover {
        color: #1a1a1a;
    }
.arvore-acesso span {
    position: relative;
    display: inline-block;
    margin:0 5px 0 5px;
    color: #6e6e6e;
}

.info-conteudo{
    display: grid;
    grid-template-rows: 60px 40px calc(100% - 100px);
}
.informacao{
    position: relative;
    padding: 0 10px;
}
.informacao-titulo{
    display: inline-block;
    width: auto;
    font-size: 26px;
    font-weight: 700;
    color: #1a1a1a;

}
.informacao-quantidades{
    display: inline-block;
    width: auto;
    font-size: 11px;
    font-weight: 700;
    color: #6e6e6e;
    margin-left: 10px;
}
    .q-filtrada{
        display: inline-block;
        width: auto;
        font-size: 11px;
    }
    .q-total{
        display: inline-block;
        width: auto;
        font-size: 14px;
    }
.lista-filter-order{
    padding: 0 10px;
}
