.pagina{
    display: grid;
    grid-template-rows: 20px 100%;
    grid-row-gap: 10px;
    color: #34495e;
}

.arvore-acesso{
    
    font-size: 12px;
    border-bottom: 1px solid #e6e6e6;
}

.arvore-acesso a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin:0 5px 0 0;
    color:#486684;

}
.arvore-acesso span {
    position: relative;
    display: inline-block;
    margin:0 5px 0 5px;
}

.info-conteudo{
    display: grid;
    grid-template-rows: 60px 40px calc(100vh - 160px);
}
.informacao{
    padding: 0 10px;
}
.informacao-titulo{
    display: inline-block;
    width: auto;
    font-size: 26px;
    font-weight: 700;
    color: #34495e;

}
.informacao-quantidades{
    display: inline-block;
    width: auto;
    font-size: 11px;
    font-weight: 700;
    color: #808080;
    margin-left: 10px;
}
    .q-filtrada{
        display: inline-block;
        width: auto;
        font-size: 11px;
    }
    .q-total{
        display: inline-block;
        width: auto;
        font-size: 14px;
    }
.lista-filter-order{
    padding: 0 10px;
}
.lista-itens{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, 98px);
    grid-gap: 8px;
    overflow-y: auto;
    padding: 5px 10px 10px 10px;
    
}