

/*********************************************************************
    FORMATAÇÃO BASE PARA TABELAS
*********************************************************************/

.tabela-formatada{
    width: 100%;
    height: 100%;
    border: 0;
    margin:auto;
    border-spacing: 0;
    font-size:11px;
    background-color: #ffffff;
    
}
.tabela-formatada > thead {
    display: table;
    height: 30px;
    
}
/*
.tabela-formatada > thead > tr{
    height: 30px;
    line-height: 30px;
}
*/
.tabela-formatada > thead > tr > th.th{
    position: relative;
    cursor: pointer;
    text-align: center;
    color:#000000;
    padding:0 5px;
    box-sizing: border-box;
    /*border-bottom: 2px solid #bfbfbf;*/
}
.tabela-formatada > thead > tr > th.th-maior{
    width: 30%;
}
.tabela-formatada > thead > tr > th.th:hover{
    color: #006699;
}
.tabela-formatada > thead > tr > th.th > .filtro{
    border:1px solid #6e6e6e;
    border-radius: 4px;
    text-align: center;
    cursor: text;
    box-sizing: border-box;
}
.tabela-formatada > thead > tr > th.th > .filtro > input{
    width: 100%;
    border: 0;
    outline: none;
    padding-left: 3px;
    box-sizing: border-box;

}
.head-sort-ico{
    position: absolute;
    display: block;
    bottom: 0;
    right: 6px;
    height: 24px;
    line-height: 24px;
    background-color: #ffffff;
    padding: 0 2px;
    width: auto;

}

.tabela-formatada thead tr {
    display: table;
    width: calc(100% - 1.4em);
    table-layout: fixed;
    height: 30px;
    line-height: 24px;
}

.tabela-formatada > tbody{
    display: block;
    height: auto;
    max-height: calc(100% - 70px);
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #cccccc;
    border-top: 3px solid #cccccc;
}
.tabela-formatada  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.tabela-formatada > tbody > tr > td{
    border-top: 1px solid #bfbfbf;
    height: 30px;
    line-height: 30px;
    max-height: 30px;
    max-width: 250px;
    white-space: nowrap;
    overflow-x: hidden;
    padding:0 5px;
    text-align: center;
    box-sizing: border-box;
}
.tabela-formatada > tbody > tr:first-child > td{
    border-top: 0;
}

.tabela-formatada tbody tr.tr-x td{
    color: #ff0000;
}
.tabela-formatada tbody tr td.td-hover{
    
    font-weight: 700;
}
.tabela-formatada > tbody > tr > td.td-maior{
    width: 30%;
}
.tabela-formatada > tbody > tr:hover > td{
    background-color: #cceeff;
    cursor: pointer;
}
.tabela-formatada > tbody > tr.sel > td{
    background-color: #99ffcc;
    color:#00994d;
    cursor: pointer;
}

.tabela-chk-fw-2x{
    margin-top:5px;
}

.tabela-formatada > tfoot{
    display: block;
    height: 30px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #cccccc;
}
.tabela-formatada > tfoot tr{
    display: table;
    height: 30px;
    width: calc(100% - 1.4em);
    background-color: #f2f2f2;
}